<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Login page</title>
</head>
<body>
<script type="text/javascript" sec:authorize="isAuthenticated()">
    location.href = "/index"
</script>
<h1>Login page</h1>
<div th:if="${param.error}">
    계정과 비밀번호 확인
</div>
<div th:if="${param.logout}">
    로그아웃
</div>
<form th:action="@{/auth}" method="post">
    <input type="text" id="username" name="username" autofocus="autofocus" placeholder="id"/> <br />
    <input type="password" id="password" name="password" placeholder="pw"/> <br />
    <input type="submit" value="Log in" />
</form>
<h3>Admin : admin/123 </h3>
<h3>User : user/456 </h3>
<script src="//code.jquery.com/jquery-2.2.4.min.js"></script>
</body>
</html>